body {
    align-items: center;
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    /* font-family: "Raleway"; */
    /* text-shadow: 4px 4px 5px rgb(136, 255, 0); */
    /* background-color: rgb(230, 0, 255); */
    /* display: flex;
    justify-content: center; */
}

h1 {
    font-size: 100px;
    text-align: center;
}

.character {
    /* background-image: url('../assets/boyCharacter.png'); */
    background-image: url('../assets/girl-pixel.gif');
    /* by this background size: this will let the image be within the div size */
    /* background-size: contain; */
    /* wihout this line it will lets the duck apeare more than once in the div, which does not look good, so it is better to use the no repeate, to just apear once*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .computer-size{
    
} */


.cell {
    width: 9.9%;
    height: 9.65%;
    border: 1px solid black;
    text-align: center;
    line-height: 66px;
    font-size: 35px;
}

.computer-values {
    text-align: center;
}

.player-values {
    /* justify-content: right; */
    text-align: center;
    /* display: none; */


}

.player-values img {
    height: 250px;
}

.hidden {
    display: none;
}

.row {
    display: flex;
}

.reverse {
    flex-direction: row-reverse;
}

/* .diec{

} */

.dice-div {
    width: 30%;
    float: right;
    box-sizing: border-box;
    align-items: center;
}


.dice-1, .dice-2, .dice-3, .dice-4, .dice-5, .dice-6{
    /* width: 40%; */
    float: right;
    box-sizing: border-box;

}



.computer {
    background-image: url('../assets/andrew.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.grid-wrapper {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    /* background-image: url(../assets/snakes-ladder-edited.png); */

}



.snake-86 {
    position: absolute;
    /* padding: 100px; */
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: 550px;
    transform: rotate(-0.005turn);
    /* right:10em; */
    /* left:6em; */
    /* bottom: 2.6em; */
    /* opacity: 0.6; */

}

.snake-13 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    height: 140px;
    transform: rotate(0.01turn);

}

.snake-52 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 110px;
}
.snake-56 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 240px;
}

.snake-83 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    transform: rotate(0.15turn);

}
.snake-80 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    transform: rotate(0.15turn);
}

/* .snake-last-row{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    /* transform: rotate(0.15turn);   */
/* }  */

.ladder-4 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 130px;
}

.ladder-20 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    transform: rotate(0.08turn);
    height: 190px;
}

.ladder-28 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    width: 100px;
    transform: rotate(-0.11turn);

}

.ladder-44 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    width: 100px;
    transform: rotate(-0.19turn);

}

.ladder-70 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 190px;
    width: 140px;
    transform: rotate(-0.08turn);

}

.ladder-77 {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 140px;
    width: 100px;
}



.small-container {
    display: flex;
    justify-content: center;
    margin: 100px 0px 200px 50px;
    width: 65%;
    float: left;
    position: relative;
    box-sizing: border-box;
}


.computer-size {
    height: 260px;
    width: 260px;
    padding: 30px;
}

.grid {
    text-align: center;

}


.message-dice {
    float: left;
    font-size: 30px;
    position: relative;
    text-align: center;
    width: 30%;
    font-weight: bolder;
}


.player-values,
.computer-values {
    /* justify-content: right; */
    width: 30%;
    float: right;
    position: relative;
    box-sizing: border-box;
    font-size: 23px;
}



#restart {
    padding: 20px;
    width: auto;
    font-size: 50px;
}

.grid {
    position: relative;
    /* background-image: url(../assets/snakes-ladder-edited.png); */


}